/* 
Font type:
Font sizes:

colours: 
white: rgb(255, 255, 255)
darkslategray: rgb(33, 42, 47)
light darkslate gray (footer): rgb(77, 85, 90)

boxshadow inner:
between boxes: snow: rgb(252, 252, 252)
boxshadow outer 1: whitesmoke: rgb(239, 239, 238)
boxhshadow outer 2: rgb(243, 243, 244)

 */

/* universal font and sizes */
* {
  box-sizing: border-box;
}
html {
  width: 100vw;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
p {
  font-size: 16px;
}
h2 {
  font-size: 25px;
  color: rgb(33, 42, 47);
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  height: 60px;
}
/* .header {
  display: flex;
  margin-left: 0;
  justify-content: space-between;
  height: 65px;
  background-color: rgb(255, 255, 255);
  align-items: baseline;
  position: fixed;
  top: 0;
  width: 100vw;
  /* overflow: hidden; */
/* on scroll the below appears only over white sections

/* 2 - hero section */
.hero-container {
  background: url(https://cdn.allbirds.com/image/upload/f_auto,q_auto/v1/production/heroSlide/en-GB/images/5lXUr7uKlJnm7njkPYFjRH/1)
    no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 32px;
  color: rgb(255, 255, 255);
}
.hero-content {
  margin-top: 160px;
}
.hero-content p {
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.hero-buttons button {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: rgb(33, 42, 47);
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: rgb(255, 255, 255);
  border-style: none;
  margin: 4px;
  border-radius: 2px;
  margin-top: 110px;
}
.hero-buttons button:nth-child(1) {
  padding-left: 49px;
  padding-right: 49px;
}
.hero-buttons button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 42, 47);
}

/* to fix: img on site cuts at sides evenly, not this below */
@media (min-width: 768px) {
  .hero-container {
    background: url(https://cdn.allbirds.com/image/upload/f_auto,q_auto/v1/production/heroSlide/en-GB/images/2HNxCevFt6lJ0ZoLf4JKrd/2)
      no-repeat;
    background-size: cover;
    height: 90vh;
  }
  h1 {
    font-size: 40px;
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 48px;
  }
}

/* 3 - Some of Our Favourites - to do */
.some-favs-heading {
  text-align: center;
  margin-top: 70px;
}
.some-navigation {
  display: flex;
  justify-content: center;
  color: rgb(166, 170, 172);
  letter-spacing: 1px;
}
.some-nav-item {
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 2px solid rgb(166, 170, 172);
  margin-bottom: 15px;
}
.some-nav-item:hover {
  color: rgb(33, 42, 47);
  border-color: rgb(33, 42, 47);
}
/* I want each card to be a certain size of the viewport */
.scrollable {
  overflow: scroll;
}
.some-container {
  display: flex;
  height: 770px;
  width: 3000px;
  margin-top: 10px;
  margin-left: 30px;
}
.card {
  width: 85vw;
  height: 740px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px 0px;
}
/* buttons overlay for min-width 915px
.some-buttons-overlay {
  position: absolute;
  z-index: 2;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  margin-left: 33px;
  margin-right: 30px;
}
.some-buttons-overlay button {
  background-color: white !important;
  color: rgb(33, 42, 47) !important;
} */

.card img {
  object-fit: cover;
  width: 85vw;
  height: 500px;
  cursor: pointer;
}
/* following two are so the images zoom within a container on hover */
.card-img-container {
  width: 85vw;
  height: 500px;
  overflow: hidden;
}
.card-img-container img:hover {
  transition: transform 0.2s ease;
  transform: scale(1.05);
}

@media (min-width: 767px) {
  .card {
    width: 45vw !important;
    height: 620px;
  }
  .card img {
    width: 45vw;
    height: 400px;
  }
  .card-img-container {
    width: 45vw;
    height: 400px;
  }
  .some-container {
    height: 655px;
  }
}
@media (min-width: 915px) {
  .some-container {
    height: 490px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .card {
    width: 30vw !important;
    height: 450px;
    margin-right: 20px;
    overflow: hidden;
  }
  .card-img-container {
    width: 30vw;
    height: 350px;
  }
  .card img {
    width: 30vw;
    height: 350px;
  }
  .icon-name p {
    font-size: 12px;
    padding-bottom: 10px;
  }
  /* .some-container:hover > .some-buttons-overlay {
    visibility: visible;
  }
  .some-container:hover > .card img {
    filter: opacity(90%);
  } */
}
@media (min-width: 1300px) {
  .card {
    width: 24.99vw !important;
  }
  .card img {
    width: 24.99vw;
  }
}

.card h3 {
  color: rgb(33, 42, 47);
  padding-left: 20px;
  margin-bottom: 0;
}
.icon-name {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(189, 188, 188);
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.icon-name img {
  width: 30px;
  height: 35px;
  margin-right: 15px;
  margin-left: 0;
  margin-top: 3px;
}
.icon-name p {
  letter-spacing: 1px;
}
.some-buttons {
  display: flex;
  flex-direction: column;
}
.some-buttons button,
.some-buttons-overlay button {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.5px;
  background-color: rgb(33, 42, 47);
  padding: 14px;
  padding-left: 60px;
  padding-right: 60px;
  color: rgb(255, 255, 255);
  border-style: none;
  border-radius: 2px;
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
.some-buttons button:nth-child(2) {
  margin-bottom: 20px;
}
.some-buttons button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 42, 47);
  border-style: solid;
  border-color: rgb(33, 42, 47);
}

/* cards with one button, buttons moved down */
.one button {
  margin-top: 58px;
}

/* 4 - image then Run Hard. Tread Light */
.run-hard-pic {
  margin-top: 70px;
  background: url(https://cdn.allbirds.com/image/upload/f_auto,q_auto/v1/production/pageSectionSecondaryPromoHero/en-GB/images/1VBnOqAB9JxvrR5qGuwLO4/1)
    no-repeat;
  background-size: cover;
  height: 340px;
}
.run-hard {
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}
.run-hard p {
  letter-spacing: 1px;
  font-weight: 100;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.run-hard button {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1.5px;
  background-color: rgb(33, 42, 47);
  padding: 16px;
  padding-left: 152px;
  padding-right: 152px;
  color: rgb(255, 255, 255);
  border-style: none;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 70px;
}
.run-hard button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 42, 47);
  border-style: solid;
  border-color: rgb(33, 42, 47);
}
@media (min-width: 600px) {
  .run-hard-pic {
    background: url(https://cdn.allbirds.com/image/upload/f_auto,q_auto/v1/production/pageSectionSecondaryPromoHero/en-GB/images/6FkpLJnvCWlmFV7J5f2C7U/1)
      no-repeat;
    background-size: cover;
    height: 430px;
  }
}
@media (min-width: 995px) {
  .run-hard-pic {
    height: 540px;
  }
}

/* 5 - video then Made From Nature, For Nature */
.made-from-video_container {
  margin-top: 30px;
  position: relative;
  padding-bottom: 56.25%;
  height: 340px;
  overflow: hidden;
}
.made-from-video iframe {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.made-from {
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}
.made-from p {
  letter-spacing: 1px;
  font-weight: 100;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.made-from button {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1.5px;
  background-color: rgb(33, 42, 47);
  padding: 16px;
  padding-left: 152px;
  padding-right: 152px;
  color: rgb(255, 255, 255);
  border-style: none;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.made-from button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 42, 47);
  border-style: solid;
  border-color: rgb(33, 42, 47);
}

/* 6 - Shop By Category */
.shop-heading {
  margin-left: 30px;
}
.category-card h3 {
  color: rgb(33, 42, 47);
  padding-left: 15px;
}
.shop-container {
  display: flex;
  height: 520px;
  width: fit-content;
  margin-left: 30px;
}

.category-card {
  width: 85vw;
  height: 470px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px 0px;
}
.category-card img {
  object-fit: cover;
  width: 85vw;
  height: 400px;
}

@media (min-width: 550px) {
  .category-card {
    width: 45vw !important;
    height: 400px;
  }
  .category-card img {
    width: 45vw;
    height: 330px;
  }
  .shop-container {
    height: 450px;
  }
}
@media (min-width: 915px) {
  .shop-container {
    height: 400px;
    margin-left: 40px;
  }
  .category-card {
    width: 30vw !important;
    height: 370px;
    margin-right: 20px;
  }
  .category-card img {
    width: 30vw;
    height: 300px;
  }
  .shop-heading {
    margin-left: 40px;
  }
}
@media (min-width: 1300px) {
  .category-card {
    width: 24.99vw !important;
  }
  .category-card img {
    width: 24.99vw;
  }
}

/* 7 - video then Tread Lighter */
.tread-lighter-video {
  margin-top: 70px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.tread-lighter-video iframe {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tread-lighter {
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}
.tread-lighter p {
  letter-spacing: 1px;
  line-height: 22px;
  font-weight: 100;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.tread-lighter button {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1.5px;
  background-color: rgb(33, 42, 47);
  padding: 16px;
  padding-left: 52px;
  padding-right: 52px;
  color: rgb(255, 255, 255);
  border-style: none;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.tread-lighter button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 42, 47);
  border-style: solid;
  border-color: rgb(33, 42, 47);
}
@media (min-width: 600px) {
  .tread-lighter-video {
    height: 430px;
  }
}
@media (min-width: 995px) {
  .tread-lighter-video {
    height: 540px;
  }
}

/* 8 - New Arrivals */
.new {
  display: flex;
  height: 535px;
  width: fit-content;
  margin-left: 30px;
}
.new-heading {
  margin-left: 30px;
}
.new h3 {
  padding-left: 15px;
}
.new p {
  padding-left: 15px;
  padding-bottom: 17px;
}

.new-card {
  width: 85vw;
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px 0px;
}
.new-card img {
  object-fit: cover;
  width: 85vw;
  height: 400px;
}

@media (min-width: 550px) {
  .new-card {
    width: 45vw !important;
    height: 450px;
  }
  .new-card img {
    width: 45vw;
    height: 350px;
  }
  .new {
    height: 500px;
  }
}
@media (min-width: 915px) {
  .new {
    height: 520px;
    margin-left: 40px;
  }
  .new-card {
    width: 30vw !important;
    height: 480px;
    margin-right: 20px;
  }
  .new-card img {
    width: 30vw;
    height: 370px;
  }
  .new-heading {
    margin-left: 40px;
  }
}
@media (min-width: 1300px) {
  .new-card {
    width: 24.99vw !important;
  }
  .new-card img {
    width: 24.99vw;
  }
}

/* 9 - Stories */
.stories {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 570px;
  width: fit-content;
  margin-left: 30px;
}
.stories-heading {
  margin-left: 30px;
  margin-top: 65px;
}
.stories p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 17px;
  font-size: 14px;
  color: rgb(33, 42, 47);
}
.stories h3 {
  color: rgb(33, 42, 47);
  margin-left: 15px;
}
.stories-card {
  width: 85vw;
  height: 540px;
  margin-right: 10px;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px 0px;
}
.stories-card img {
  object-fit: cover;
  width: 85vw;
  height: 400px;
}

@media (min-width: 600px) {
  .stories-card {
    width: 45vw !important;
  }
  .stories-card img {
    width: 45vw;
  }
}
@media (min-width: 915px) {
  .stories {
    height: 480px;
    margin-left: 40px;
  }
  .stories-card {
    width: 30vw !important;
    height: 450px;
    margin-right: 20px;
  }
  .stories-card img {
    width: 30vw;
    height: 300px;
  }
  .stories-heading {
    margin-left: 40px;
  }
}
@media (min-width: 1180px) {
  .stories {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  .stories-card {
    max-width: 350px;
    max-height: 450px;
  }
  .stories-card img {
    max-width: 350px;
    max-height: 350px;
  }
  .stories-heading {
    text-align: center;
  }
}

/* 10 - footer */
footer {
  background-color: rgb(33, 42, 47);
  margin-top: 110px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.footer {
  padding: 30px;
}
.footer h4 {
  font-size: 14px;
  letter-spacing: 1px;
}
.footer p {
  font-size: 12px;
}
input {
  background-color: rgb(77, 85, 90);
  height: 45px;
  width: 100%;
  border: none;
  border-bottom: inset 2px white;
}
.email button {
  background-color: rgb(77, 85, 90);
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
}
.email button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 42, 47);
}
.email-input h4 {
  text-align: left;
  font-weight: 200;
  margin-left: 2px;
  margin-top: 45px;
  margin-bottom: 8px;
}
/* margin between sections */
.email button,
.help,
.shop,
.company,
.follow,
.bcorp,
.flags {
  margin-bottom: 45px;
}

.social-icons,
.flags {
  display: flex;
  justify-content: center;
}
.icon-footer {
  padding-left: 5px;
  padding-right: 5px;
}
.social-icons img {
  padding-left: 7px;
  padding-right: 7px;
}
.copyright {
  margin-bottom: 65px;
}

@media (min-width: 768px) {
  .email {
    display: flex;
    justify-content: center;
  }
  .email-input {
    margin-right: 12px;
    width: 70%;
  }
  .email-submit {
    width: 30%;
    margin-top: 48px;
  }
}

@media (min-width: 985px) {
  .email {
    justify-content: start;
  }
  .email-input {
    width: 22%;
  }
  .email-submit {
    width: 9%;
  }
  .help,
  .shop,
  .company {
    padding-right: 170px;
    min-width: 20%;
  }
  .help-shop-company,
  .follow-bcorp-flags {
    display: flex;
    width: 100%;
    text-align: left;
  }
  .follow,
  .bcorp,
  .flags {
    padding-right: 100px;
    min-width: 20%;
  }
  .follow {
    width: 318px;
    max-width: 500px;
  }
  .social-icons {
    justify-content: start;
  }
  .social-icons:nth-child(1) {
    margin-left: 0;
  }
  /* follow the flock is lower... */
  .bcorp,
  .flags {
    margin-top: 18px;
  }
}
